{% include "header.html" %}
<body>
<form action="/safaRest/restaurantes/crear" method="post">

        {% csrf_token %} #Poner en los formularios
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input class="form-control" id="nombre" name="nombre" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label for="ciudad" class="form-label">Capacidad</label>
        <input class="form-control" id="capacidad" name="capacidad" type="number" class="form-control">
    </div>
     <div class="mb-3">
        <label for="ciudad" class="form-label">Ciudad</label>
        <input class="form-control" id="ciudad" name="ciudad" type="text" class="form-control">
    </div>
     <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input class="form-control" id="fecha" name="fecha" type="date" class="form-control">
    </div>
     <div class="mb-3">
        <label for="tipo_restaurante" class="form-label">Tipo restaurante</label>
        <select id="tipo_restaurante" name="tipo_restaurante">
            {% for tipo in tipos_restaurantes %}
                <option value="{{ tipo }}">{{ tipo }}</option> #tipo.mostrar_tipo
            {% endfor %}

        </select>
    </div>
<div>
    <input type="=submit" value="Guardar">
</div>
</form>
</body>
</html>